<!DOCTYPE html>
<html lang="en">

<head>
    <title>Victoria_Crime_Statistics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Keania+One&family=Raleway&display=swap" rel="stylesheet">
    <link rel="icon" href="data:,">
    <style>
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="https://www.police.vic.gov.au/"  target="_blank"><img
                        src="../static/img/logo_small.png" alt="CSGO Howl" style="width:40px;height:40px;"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/heatmap" target="popup"
                            onclick="window.open('/heatmap','name','width=801,height=601')">Heatmap</a></li>
                    <li><a href="/alldata" target="_blank">All Data</a></li>
                    <!-- <li><a href="#">About</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>     -->

                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
            <div class="row h-300 align-items-center">
                <div class="col-lg-12 align-items-center">
                    <h1 class="pagetitle">VICTORIA CRIME STATISTICS</h1>
                    <p class="pagetext">"The Place to be for up to date information"</p>

                </div>
            </div>
        </div>
    </header>

    <div class="jumbotron textcont" style="text-align: center">
        <div class="row">
            <div class="col-sm-2 col-sm-12"></div>
            <div class="col-sm-2 col-sm-12">
                <div class="form-group">
                    <label for="sel-filter">Select a Year:</label>
                    <select class="form-control" id="sel-filter-year"></select>
                </div>
            </div>
            <div class="col-sm-2 col-sm-12">
                <div class="form-group">
                    <label for="sel-filter">Select an LGA:</label>
                    <select class="form-control" id="sel-filter-lga"></select>
                </div>
            </div>
            <div class="col-sm-3 col-sm-12">
                <div class="form-group">
                    <label for="sel-filter">Select an Offence Division:</label>
                    <select class="form-control" id="sel-filter-offence"></select>
                </div>
            </div>
            <div class="col-sm-1 col-sm-12">
                <div class="form-group">
                    <br>
                    <input id="clickMe" type="button" value="Display Data" onclick="displayValues()" />
                </div>
            </div>
            <div class="col-sm-2 col-sm-12"></div>
        </div>

        <div class="row">
            <p class="pagetext">You Can Select a Maximum of Two Filters</p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-9 col-sm-12">
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-1 col-sm-12"></div>
                        <div class="col-sm-11 col-sm-12">
                            <div id="races-by-class-plot"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-1 col-sm-12"></div>
                        <div class="col-sm-11 col-sm-12">
                            <div id="character-races-plot"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-1 col-sm-12"></div>
                        <div class="col-sm-11 col-sm-12">
                            <div id="bubble-plot"></div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-12">
            <div class="rightbg" style="text-align: center">
                <br><br>
                <p>This page is designed to help search for crime information on any area in Victoria
                    completely free of charge.</p>
                <br>
                <p>The information contained in this website can be used to identify the crime rates on each Victorian
                    LGA
                    helping people decide where to settle and places to avoid.</p>
                <br>
                <div class="ytcont">
                    <iframe frameborder="0" allowfullscreen class="video"
                        src="https://www.youtube.com/embed/jcjk5gQAcpE" title="YouTube video player" frameborder="0"
                        autoplay=1 mute=1 allowfullscreen></iframe>
                </div>
                <br><br>
                <div class="ytcont">
                    <iframe frameborder="0" allowfullscreen class="video"
                        src="https://www.youtube.com/embed/7ovvFkaNCtQ" title="YouTube video player" frameborder="0"
                        autoplay=1 mute=1 allowfullscreen></iframe>
                </div>
                <br><br>
                <div class="ytcont">
                    <iframe frameborder="0" allowfullscreen class="video"
                        src="https://www.youtube.com/embed/QN5EjKN-YQM" title="YouTube video player" frameborder="0"
                        autoplay=1 mute=1 allowfullscreen></iframe>
                </div>

                <br><br><br><br><br><br><br><br><br><br><br><br>

            </div>
        </div>
    </div>


    <footer class="container-fluid text-center">
        <P></P>
        <p class="footah">A Project by Group 6 - Evrard | Joe | Oscar | Raphael</p>
    </footer>

</body>

</html>